---
import { SEO } from "astro-seo";

const url: URL = new URL(Astro.request.url);
const title: string = "RaceCast";
const description: string = "Flux en direct de la voiture de course de Kevin CORBIER.";
const ogDescription: string = "Caméra embarquée de Kevin CORBIER.";
---

<!doctype html>
<html lang="fr">
	<head>
        <SEO
            title={title}
            description={description}
            charset="UTF-8"
            canonical={url}
            openGraph={{
                basic: {
                    title: ogDescription,
                    type: "website",
                    image: `${url}social.webp`,
                    url: url
                },
                optional: {
                    siteName: title,
                    locale: "fr_FR",
                },
            }}
            twitter={{
                card: "summary_large_image",
                site: url,
                creator: "@Minarox_",
                title: title,
                description: description,
                image: `${url}social.webp`
            }}
            extend={{
                link: [
                    { rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }
                ],
                meta: [
                    { name: "theme-color", content: "#242424" },
                    { name: "generator", content: Astro.generator },
                    { name: "viewport", content: "width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" }
                ]
            }}
        />
	</head>

	<body>
		<slot />
	</body>

	<script
		is:inline
		src="https://stats.minarox.fr/data.js"
		data-ackee-server="https://stats.minarox.fr"
		data-ackee-domain-id="50857e64-dd4c-41c6-a339-051ec2284e60"
	/>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		font-synthesis: none;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
		background-color: #242424;
	}

	.container {
		background-color: #f0f0f0;
		border-radius: 6px;
		padding: 10px;
	}
</style>
