---
import { SEO } from "astro-seo";

const url: string = Astro.request.url;
const title: string = "RaceCast";
const description: string = "Diffusion en direct de la voiture de course de Kevin CORBIER.";
const ogDescription: string = "Caméra embarquée de Kevin CORBIER.";

const ackeeSrc: string = import.meta.env.PUBLIC_ACKEE_URL || '';
const ackeeServer: string = ackeeSrc.split('/').splice(0, 3).join('/');
const ackeeDomain: string = import.meta.env.PUBLIC_ACKEE_DOMAIN || '';
---

<!doctype html>
<html lang="fr">
	<head>
        <SEO
            title={title}
            description={description}
            charset="UTF-8"
            canonical={url}
            openGraph={{
                basic: {
                    title: ogDescription,
                    type: "website",
                    image: `${url}social.webp`,
                    url: url
                },
                optional: {
                    siteName: title,
                    locale: "fr_FR",
                },
            }}
            twitter={{
                card: "summary_large_image",
                site: url,
                creator: "@Minarox_",
                title: title,
                description: description,
                image: `${url}social.webp`
            }}
            extend={{
                link: [
                    { rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }
                ],
                meta: [
                    { name: "theme-color", content: "#242424" },
                    { name: "generator", content: Astro.generator },
                    { name: "viewport", content: "width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" }
                ]
            }}
        />
	</head>

	<body>
		<slot />

        <script
            is:inline
            src={ackeeSrc}
            data-ackee-server={ackeeServer}
            data-ackee-domain-id={ackeeDomain}
            data-ackee-opts='{ "detailed": true, "ignoreOwnVisits": false }'
        />
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		font-synthesis: none;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
		background-color: #242424;
	}
</style>
